<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <title>Marèe clone</title>
  <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
  <div id="root">
<!-- ................... Header section ................... -->
    <header>

<!-- navbar -->
      <div class="navbar">
        <!-- Caricato logo tramite VueJs  -->
        <div class="logo">
          <img :src=`${logo}` alt="Scritta Mareè con foglioline color salmone sulla destra">
        </div>

        <!-- Caricati oggetti tramite v-for -->
        <div class="menu" >
          <a class="linkMenu" v-for="(links, index) in navLink" :href=`${links.url}`>{{links.name}}</a>
          <a href="#"> <img src="./assets/img/svg/svg-1.svg" alt=""> </a>
        </div>
      </div>

<!-- Jumbotron -->
      <div class="jumbo">

        <i class="jumboSlideLeft prev fas fa-chevron-left" @click="prev"></i>

        <div :class="jumboText" class="jumboLeft" >
          <h2  class="jumboTitle">{{jumboText[counter].title}}</h2>
          <p class="jumboSubtext">{{jumboText[counter].subTitle}}</p>
          <button class="jumboButton"type="button" name="button">Read more</button>
        </div>
        <div class="jumboRight">
          <img class="active first" :src="carouselImages[counter]" alt="">
        </div>

        <i class="jumboSlideRight next fas fa-chevron-right" @click="next"></i>

      </div>

    </header>

<!-- ................... Main section ................... -->
    <main>
<!-- Macrocards -->
      <div class="macrocards">
        <div class="cardContainer" v-for="card in macroCardImg">
          <img :src=`${card.url}` alt="">
          <div class="hoverContainer">
            <h4>{{card.text}}</h4>
            <p><i>{{card.subText}}</i></p>
          </div>
        </div>
      </div>

<!-- workFlow -->
      <div class="workFlow">
        <h2>Working <strong><i>process</i></strong></h2>
        <div class="workFlowBaloon">
          <div v-for="data in workFlowImg" class="workFlowBaloonCard">
            <i :class="data.icon" :style="{color:data.color}"></i>
            <h3>{{data.text}}</h3>
            <p>{{data.subText}}</p>
          </div>
        </div>
      </div>

<!-- MessageUs -->
      <div class="messageUs">
        <div class="container">
          <h2>Want to work with us? Send us <strong><i>a message!</i></strong></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo.</p>
          <button type="button" name="button">contact</button>
        </div>
      </div>

<!-- News -->
      <div class="news">
        <div class="newsCard" v-for="news in newsImg">
          <img :src=`${news.url}` alt="">
          <h4>{{news.text}}</h4>
          <p><i>By {{news.author}}</i></p>
          <div class="newsOverlay">
            <div class="day">
              <p>07</p>
            </div>
            <div class="month">
              <p>may '19</p>
            </div>
            <div class="monthLeftTriangle"></div>
            <div class="monthRightTriangle"></div>
          </div>
        </div>
      </div>

    </main>

<!-- ................... Footer section ................... -->
    <footer>
      <div class="motto"></div>
      <div class="contacts"></div>
      <div class="address"></div>
      <div class="socials"></div>
    </footer>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="./assets/js/main.js"></script>
</body>

</html>
