* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Mulish', sans-serif;
}


/* --------------------------- Header section --------------------------- */

header{
  background-color: white;
}

/* --------- Navbar --------- */

.navbar{
  height: 100px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo{
}

.navbar .logo img{
  width: 130px;
}

.navbar .menu{
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.navbar .menu a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding:20px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.3em;
  position: relative;
  cursor: url('../img/pointer.png'), pointer;
}

.navbar .menu .linkMenu:hover::after{
  content: "";
  display: block;
  margin: -9px auto;
  width: 100%;
  border-bottom: 10px solid #f5d8ca;
}



/* --------- Jumbotron --------- */

.jumbo{
  max-height: 634px;
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jumbo .jumboSlideLeft{
  padding: 10px;
  background-color: #f5d8ca;
  border-radius: 100%;
}

.jumbo .jumboSlideRight{
  padding: 10px;
  background-color: #f5d8ca;
  border-radius: 100%;
}

.jumbo .jumboLeft{
  margin: 0 60px 0 240px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.jumbo .jumboLeft .jumboTitle{
  font-size: 70px;
  font-weight: 500;
}

.jumbo .jumboLeft .jumboSubtext{
  color: lightgrey;
  font-size: 20px;
  margin: 20px 0;
}

.jumbo .jumboLeft .jumboButton{
  width: 160px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 12px;
  margin-top: 20px;
  background-color: white;
  border: 1px solid #f5d8ca;

}

.jumbo .jumboRight{
  position: relative;
  margin-right: 90px;
}

.jumbo .jumboRight img{
  display: none;
}

.jumbo .jumboRight img.active{
  max-width: 500px;
  display: block;
}


/* --------------------------- Main section --------------------------- */

/* --------- Macrocards --------- */


/* --------- Workflow --------- */


/* --------- mMssage --------- */


/* --------- News --------- */




/* --------------------------- Footer section --------------------------- */























/* fine */
