* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url('../img/PointerGeneric.png'), pointer;
}

body {
  width: 100%;
  font-family: 'Mulish', sans-serif;
}

/* --------------------------- Header section --------------------------- */
header {
  background-color: white;
}

/* --------- Navbar --------- */
.navbar {
  height: 100px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {}

.navbar .logo img {
  width: 130px;
}

.navbar .menu {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
}

.navbar .menu a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding: 20px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.3em;
  position: relative;
  cursor: url('../img/pointer.png'), pointer;
}

.navbar .menu .linkMenu:hover::after {
  content: "";
  display: block;
  margin: -9px auto;
  width: 100%;
  border-bottom: 10px solid #f5d8ca;
}

/* --------- Jumbotron --------- */
.jumbo {
  height: 634px;
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jumbo .jumboSlideLeft {}

.jumbo .jumboSlideLeft i {
  padding: 20px;
  background-color: #f5d8ca;
  border-radius: 100%;
}

.jumbo .jumboSlideRight {}

.jumbo .jumboSlideRight i {
  padding: 20px;
  background-color: #f5d8ca;
  border-radius: 100%;
}

.jumbo .JumboCentral {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jumbo .jumboLeft {
  width: 650px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.jumbo .jumboLeft .jumboTitle {
  font-size: 70px;
  font-weight: 500;
}

.jumbo .jumboLeft .jumboTitle:after{
	content:attr(data-text);
	font-weight: 800;
  font-style: italic;
}

.jumbo .jumboLeft .jumboSubtext {
  color: lightgrey;
  font-size: 20px;
  margin: 20px 0;
}

.jumbo .jumboLeft .jumboButton {
  width: 160px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 12px;
  margin-top: 20px;
  background-color: white;
  border: 2px solid #E1C0B0;
  transition: 0.5s;
}

.jumbo .jumboLeft .jumboButton:hover {
  background-color: #f5d8ca;
  color: white;
}

.jumbo .jumboRight {
  position: relative;
  width: 550px;
}

.jumbo .jumboRight img {
  display: none;
}

.jumbo .jumboRight .active img {
  max-width: 500px;
  display: block;
}

.jumboDotNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.jumboDotNav i {
  padding: 20px 10px;
  margin: 0 10px;
  font-size: 8px;
  color: #E1C0B0;
}

.jumboDotNav .active {
  display: block;
  transform: scale(1.5);
}

/* --------------------------- Main section --------------------------- */
/* --------- Macrocards --------- */
.macrocards {
  max-height: 1545px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.macrocards .cardContainer {
  position: relative;
  margin: 0;
  padding: 0;
  width: 33.3%;
  height: 33.3%;
}

.macrocards .cardContainer img {
  width: 100%;
  height: 100%;
  display: block;
  /* controllare------------------------------------ */
}

.macrocards .cardContainer .hoverContainer {
  opacity: 0;
  background-color: white;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: opacity 0.5s;
}

.macrocards .cardContainer .hoverContainer h4 {
  font-size: 24px;
}

.macrocards .cardContainer .hoverContainer p {
  font-size: 16px;
}

.macrocards .cardContainer:hover .hoverContainer {
  opacity: 1;
}

/* --------- Workflow --------- */
.workFlow {
  height: 609px;
}

.workFlow h2 {
  font-size: 60px;
  font-weight: 200;
  text-align: center;
  margin: 100px 0;
}

.workFlow .workFlowBaloon {
  transition: all 0.5s;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.workFlow .workFlowBaloon .workFlowBaloonCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workFlow .workFlowBaloon .workFlowBaloonCard:first-child i {
  padding: 50px 60px;
}

.workFlow .workFlowBaloon .workFlowBaloonCard i {
  font-size: 40px;
  padding: 50px;
  background-color: #FAF7F1;
  border-radius: 100px;
  margin-bottom: 20px;
}

.workFlow .workFlowBaloon .workFlowBaloonCard h3 {
  font-weight: 500;
}

.workFlow .workFlowBaloon .workFlowBaloonCard p {
  color: grey;
  margin: 20px 0;
  padding: 0 10px;
  text-align: center;
}

/* --------- Message --------- */
.messageUs {
  height: 528px;
  width: 100%;
  background-image: url("../img/h-2-background-1.jpg");
  background-size: cover;
}

.messageUs .container {
  height: 528px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.messageUs .container h2 {
  font-size: 60px;
  font-weight: 200;
  margin-bottom: 50px;
}

.messageUs .container p {
  color: grey;
  font-size: 16px;
  margin-bottom: 30px;
}

.messageUs .container button {
  width: 160px;
  font-size: 14px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  padding: 15px 30px;
  margin-top: 20px;
  background-color: #C0E1CF;
  border: 1px solid #f5d8ca;
  transition: 0.5s;
}

.messageUs .container button:hover {
  background-color: #F3D0C7;
  color: white;
  border: 1px solid #C0E1CF;
}

/* --------- News --------- */
.news {
  height: 723px;
  width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news .newsCard {
  width: 413px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.news .newsCard>* {
  margin-bottom: 20px;
}

.news .newsCard img {
  display: block;
  max-width: 413px;
  height: 298px;
  transition: transform 0.3s;
}

.news .newsCard h4 {
  font-size: 24px;
  font-weight: 600;
}

.news .newsOverlay {
  position: absolute;
  top: -15px;
  left: 15px;
}

.news .newsOverlay .day {
  width: 65px;
  height: 43px;
  background-color: #C0E1CF;
}

.news .newsOverlay .day p {
  text-align: center;
  font-size: 32px;
  font-weight: 900;
}

.news .newsOverlay .month {
  width: 65px;
  height: 27px;
  background-color: #F3D0C7;
  position: relative;
}

.news .newsOverlay .month p {
  padding-top: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 800;
}

.monthLeftTriangle {
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 18px solid #F3D0C7;
  border-right: 37px solid transparent;
}

.monthRightTriangle {
  position: absolute;
  bottom: -15px;
  right: 0;
  width: 0;
  height: 0;
  border-top: 18px solid #F3D0C7;
  border-left: 37px solid transparent;
}

.news .newsCard img:hover {
  transform: scale(1.1);
}

/* --------------------------- Footer section --------------------------- */
.footer {
  width: 100%;
  height: 228;
  background-color: #C0E1CF;
  cursor: url('../img/pointer.png'), pointer;
}

.footerContainer {
  width: 1162px;
  height: 228px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: url('../img/pointer.png'), pointer;
}

.footerContainer .footerCard {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: url('../img/pointer.png'), pointer;
}

.footerContainer .footerCard .motto {
  cursor: url('../img/pointer.png'), pointer;
}

.footerContainer .footerCard p {
  margin: 10px 0;
  cursor: url('../img/pointer.png'), pointer;
}

.footerContainer .footerCard .motto img {
  width: 130px;
  cursor: url('../img/pointer.png'), pointer;
}

.footerContainer .footerCard .socials {
  cursor: url('../img/pointer.png'), pointer;
}

.footerContainer .footerCard .socials .icon {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  cursor: url('../img/pointer.png'), pointer;
}

.footerContainer .footerCard .socials .icon i {
  cursor: url('../img/pointer.png'), pointer;
}

/* bottone up page */
.scollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: url('../img/pointer.png'), pointer;
}

.scollToTop i {
  font-size: 24px;
  padding: 15px;
  color: white;
  background-color: #C0E1CF;
  cursor: url('../img/pointer.png'), pointer;
}

/* fine */
